<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuxh.mapper.GoodsMapper">

    <!--<select id="getProduct" resultType="cn.liuxh.model.Goods">-->
        <!--select id,name,format,code,number,site,time from product LIMIT 1;-->
    <!--</select>-->

    <select id="getAll" resultType="cn.liuxh.model.Goods">
        select * from goods;
    </select>

    <select id="getAllE" resultType="cn.liuxh.model.Goods">
        select * from goods limit #{start},#{rows};
    </select>

    <select id="getGoodsBySeriesNo" resultType="cn.liuxh.model.Goods">
        select * from goods where seriesNo=#{seriesNo} limit 1;
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from goods
    </select>

    <insert id="add" parameterType="cn.liuxh.model.Goods" useGeneratedKeys="true"
            keyProperty="id">
        insert into goods(seriesNo,size,name,count,locationNo)
        values(#{seriesNo},#{size},#{name},#{count},#{locationNo})
        <!--<selectKey resultType="java.lang.Integer" keyProperty="id">-->
            <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
    </insert>

    <!-- 更新的配置 -->
    <update id="update" parameterType="cn.liuxh.model.Goods">
        update goods set
        seriesNo=#{seriesNo},size=#{size},name=#{name},count=#{count},locationNo=#{locationNo}
        where id=#{id}
    </update>

    <!-- 删除配置 -->
    <delete id="delete" parameterType="int">
        delete from goods where id=#{id}
    </delete>

</mapper>