<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuxh.mapper.LocationCheckOrderMapper">

    <!--<select id="getProduct" resultType="cn.liuxh.model.Goods">-->
    <!--select id,name,format,code,number,site,time from product LIMIT 1;-->
    <!--</select>-->

    <select id="getAll" resultType="cn.liuxh.model.LocationCheckOrder">
        select * from LocationCheckOrders WHERE groupId = #{groupId} limit #{start},#{rows};
    </select>

    <select id="getAllSku" resultType="cn.liuxh.model.LocationSku">
        select * from LocationSKU
        INNER JOIN goods
        ON LocationSKU.seriesNo = goods.seriesNo
        AND LocationSKU.orderId = #{id};
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from LocationCheckOrders WHERE groupId = #{groupId};
    </select>

    <select id="getAllLocationOrdersE" resultType="cn.liuxh.model.LocationSkuE">
        select * from LocationSKU
        INNER JOIN goods ON LocationSKU.seriesNo = goods.seriesNo
        INNER JOIN LocationCheckOrders ON LocationSKU.OrderId = LocationCheckOrders.id
        limit #{start},#{rows};
    </select>

    <select id="SkuCount" resultType="java.lang.Integer">
        select count(*) from LocationSKU
        INNER JOIN LocationCheckOrders ON LocationSKU.OrderId = LocationCheckOrders.id
        AND LocationCheckOrders.groupId = #{groupId}
    </select>

    <select id="getDetailById" resultType="cn.liuxh.model.LocationCheckOrder">
        select * from LocationCheckOrders where id = #{id};
    </select>

    <select id="getDetailByLocationNo" resultType="cn.liuxh.model.Goods">
        select * from goods where locationNo = #{id} AND groupId = #{groupId};
    </select>

    <select id="getSkus" resultType="cn.liuxh.model.LocationCheckOrder">
        select * from LocationSKU where orderId = #{orderId};
    </select>

    <insert id="add" parameterType="cn.liuxh.model.LocationCheckOrder" useGeneratedKeys="true"
            keyProperty="id">
        insert into LocationCheckOrders(orderName,time,groupId)
        values(#{orderName},#{time},#{groupId})
    </insert>

    <insert id="addSku" parameterType="java.util.List">
        insert into LocationSKU (seriesNo,calculate,orderId) values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.seriesNo},#{item.calculate},#{item.orderId})
        </foreach>
    </insert>

    <!-- 更新的配置 -->
    <update id="update" parameterType="cn.liuxh.model.LocationCheckOrder">
        update LocationCheckOrders set
        orderName=#{orderName}
        where id=#{id}
    </update>

    <!-- 删除配置 -->
    <delete id="delete" parameterType="int">
        delete from LocationCheckOrders where id=#{id};
    </delete>


    <!-- 删除配置 -->
    <delete id="deleteSku" parameterType="int">
        delete from LocationSKU where orderId=#{id};
    </delete>

    <delete id="truncate">
        DELETE from LocationCheckOrders WHERE id != 0 AND groupId = #{groupId};
        DELETE from LocationSKU WHERE id != 0 AND groupId = #{groupId};
    </delete>

</mapper>