<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuxh.mapper.OrderMapper">

    <select id="getOrder" resultType="cn.liuxh.model.Order">
        select id,name,format,code,number,site,state,time from orders LIMIT 1;
    </select>
    <select id="getAllOrders" resultType="cn.liuxh.model.Order">
        select id,name,format,code,number,site,state,time from orders limit #{start},#{rows};
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from orders
    </select>

    <insert id="addOrder" parameterType="cn.liuxh.model.Order" useGeneratedKeys="true"
            keyProperty="id">
        insert into orders(name,format,code,number,site,state,time)
        values(#{name},#{format},#{code},#{number},#{site},#{state},#{time})
    </insert>

    <!-- 更新的配置 -->
    <update id="updateOrder" parameterType="cn.liuxh.model.Order">
        update orders set
        name=#{name},format=#{format},code=#{code},number=#{number},site=#{site}
        where id=#{id}
    </update>

    <!-- 删除配置 -->
    <delete id="delOrder" parameterType="int">
        delete from orders where id=#{id}
    </delete>

</mapper>