<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.liuxh.mapper.SkuCheckOrderMapper">

    <!--<select id="getProduct" resultType="cn.liuxh.model.Goods">-->
    <!--select id,name,format,code,number,site,time from product LIMIT 1;-->
    <!--</select>-->

    <select id="getAll" resultType="cn.liuxh.model.SkuCheckOrder">
        select *,goods.id AS gid from SkuCheckOrder
        INNER JOIN goods ON
        SkuCheckOrder.seriesNo = goods.seriesNo
        AND SkuCheckOrder.groupId = goods.groupId
        AND SkuCheckOrder.groupId = #{groupId}
        limit #{start},#{rows};
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from SkuCheckOrder WHERE groupId = #{groupId};
    </select>

    <select id="haveGoods" resultType="java.lang.Integer">
        select count(*) from goods where seriesNo=#{seriesNo} AND groupId = #{groupId};
    </select>

    <select id="getDetailById" resultType="cn.liuxh.model.SkuCheckOrder">
        select *,goods.id AS gid from SkuCheckOrder
        INNER JOIN goods ON SkuCheckOrder.seriesNo = goods.seriesNo
        AND SkuCheckOrder.groupId = goods.groupId
        AND SkuCheckOrder.id = #{id};
    </select>

    <insert id="add" parameterType="cn.liuxh.model.SkuCheckOrder" useGeneratedKeys="true"
            keyProperty="id">
        insert into SkuCheckOrder(seriesNo,orderName,calculate,time,groupId)
        values(#{seriesNo},#{orderName},#{calculate},#{time},#{groupId})
    </insert>

    <!-- 更新的配置 -->
    <update id="update" parameterType="cn.liuxh.model.SkuCheckOrder">
        update SkuCheckOrder set
        orderName=#{orderName},calculate=#{calculate}
        where id=#{id}
    </update>

    <!-- 删除配置 -->
    <delete id="delete" parameterType="int">
        delete from SkuCheckOrder where id=#{id}
    </delete>

    <delete id="truncate">
        DELETE from SkuCheckOrder WHERE id != 0 AND groupId = #{groupId};
    </delete>

    <insert id="importSkus" parameterType="java.util.List" useGeneratedKeys="true"
            keyProperty="id">
        insert into SkuCheckOrder(seriesNo,orderName,calculate,time,groupId)
        values
        <foreach collection="list" item="item" index="index" open="" close="" separator=",">
            (#{item.seriesNo},#{item.orderName},#{item.calculate},#{item.time},#{item.groupId})
        </foreach>
    </insert>

</mapper>